<div class="single-wrapper">
	<header>
		<p id="logo"><%= image_tag 'common/logo.svg', alt:'Yellow' %></p>
	</header>
	<main class="register-content">
		<h1 class="title-reset-password">パスワードリセット</h1>
		<hr>
		<p class="text-error">申し訳ございません。<br>こちらのリンクは既に無効になっております。<br>大変恐れ入りますが、改めてパスワードリセットを行ってください。</p>
		<div class="btn-area"><a class="btn-white" href="/pre-password-reset/">パスワードリセット申請ページ</a></div>
	</main>
	<section class="single-ad-space">
		<%= render 'application/singlead' %>
	</section>
</div>
