<div class="single-wrapper">
	<header>
		<p id="logo"><%= image_tag 'common/logo.svg', alt:'Yellow' %></p>
	</header>
	<main class="register-content">
		<h1>アカウント登録</h1>
		<ul class="flow-list">
			<li><span>1</span>仮登録</li><li><span class="current-flow">2</span>メール確認</li><li><span>3</span>本登録</li>
		</ul>
		<p class="text-complete">ご入力いただいたメールアドレスへ<br>アカウント登録ページのURLを記載したメールを送信しました。<br>メールをご確認の上、本登録へお進みください。</p>
		<p class="text-complete">しばらくしてもメールが届かない場合、<br>大変恐れ入りますが改めてメールアドレスのご登録をお願いいたします。</p>
		<div class="btn-area">
			<p class="text-link"><a href="/">トップページへ</a></p>
		</div>
	</main>
</div>
