<aside class="side-content">
	<section>
		<h2>ヘルプ</h2>
		<ul>
			<li><a href="#">よくある仕訳パターン</a></li>
			<li><a href="#">使い方</a></li>
			<li><a href="#">仕訳情報の編集</a></li>
			<li><a href="#">領収書画像の登録</a></li>
			<li><a href="#">青色申告までの流れ</a></li>
		</ul>
	</section>
	<section>
		<h2>新着情報</h2>
		<ul class="news-list">
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
		</ul>
		<div class="btn-area">
			<a class="btn-more" href="#">もっと見る</a>
		</div>
	</section>
	<section class="side-ad-space">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- GRAYCODE Type1 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:300px;height:250px"
		     data-ad-client="ca-pub-6292870682629488"
		     data-ad-slot="2830614454"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</section>
</aside>
