<div class="wrapper">
	<main class="main-content">
		<article class="main-wrap">
			<h1 class="title-account">退会</h1>
			<section class="mypage-base account-edit-base unsubscription-base">
				<p class="text-edit-complete">退会申請を承りました。<br>これまでのご利用、誠にありがとうございました。<br>またのご利用をいつでもお待ちしております。</p>
				<hr>
				<div class="btn-area">
					<p class="text-link"><a href="/">Yellow トップページ</a></p>
				</div>
			</section>
			<section class="terms-ad-space">
				<%= render 'application/ad' %>
			</section>
		</article>
	</main>
	<%= render "application/side" %>
</div>