@charset "UTF-8";

/* Archive
----------------------------------------*/


/* SNS button */

.main_content .sns_area {
	margin-bottom: 40px;
	text-align: right;
}

.main_content .sns_area li {
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
}


.archive_header {
	padding: 50px 0;
	color: #fff;
	text-align: center;
	background: url(../img/bg_html.png) left top repeat-x;
}

.header_php {
	background: url(../img/bg_php.png) left top repeat-x;
}

.archive_header h1 {
	margin-bottom: 20px;
}

.archive_header p {
	padding: 0 20px;
	line-height: 1.6em;
}

.main_content article {
	overflow: hidden;
	padding: 30px 0;
	border-bottom: 1px solid #ccc;
}

.main_content article .thumb_content {
	float: left;
	width: 100px;
	height: 100px;
}

.main_content article .thumb_content img {
	border-radius: 5px;
}

.main_content article .text_content {
	margin-left: 130px;
}

.main_content article h3 {
	margin-top: -7px;
	margin-bottom: 20px;
}

.main_content article h3 a {
	color: #333;
	font-size: 150%;
	line-height: 1.5em;
}

.main_content article .text_excerpt {
	margin-bottom: 10px;
	font-size: 86%;
	line-height: 1.8em;
}

.main_content article .text_excerpt a {
	color: #007edf;
	font-weight: bold;
}

.main_content article .text_info {
	overflow: hidden;
	color: #555;
	font-size: 72%;
}

.main_content article .text_info p,
.main_content article .text_info time {
	display: inline-block;
}

.main_content article .text_info .text_category {
	margin-left: 10px;
	padding: 3px 20px;
	color: #fff;
	border-radius: 2px;
	background: #ffa800;
}

.main_content article .text_content .text_info .php {
	background: #e7b8ff;
}

.paging {
	padding: 30px 0;
	font-size: 86%;
	text-align: center;
}

.paging p {
	display: inline-block;
}

.paging a {
	color: #007edf;
	font-weight: bold;
}

.paging p.link_next a {
	margin-right: 30px;
	padding-left: 16px;
	background: url(../img/icon_arrow_left.png) left center no-repeat;
}

.paging p.link_next span {
	display: inline-block;
	margin-right: 30px;
	padding-left: 16px;
	color: #ccc;
	font-weight: bold;
	background: url(../img/icon_arrow_left_gray.png) left center no-repeat;
}

.paging p.link_prev a {
	margin-left: 30px;
	padding-right: 16px;
	background: url(../img/icon_arrow_right.png) right center no-repeat;
}

.paging p.link_prev span {
	display: inline-block;
	margin-left: 30px;
	padding-right: 16px;
	color: #ccc;
	font-weight: bold;
	background: url(../img/icon_arrow_right_gray.png) right center no-repeat;
}


/* HTML & CSS
----------------------------------------*/

.main_content h2 {
	margin-bottom: 25px;
	padding: 10px 0;
	color: #fff;
	font-weight: normal;
	text-align: center;
	background: #eb1d36;
}

.main_content .text_excerpt {
	margin-bottom: 25px;
	font-size: 86%;
	line-height: 1.6em;
}

.main_content .ttl_html_category {
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 0 10px;
	color: #555;
	border-bottom: 1px solid #fc7b81;
}

.main_content .html_list {
	overflow: hidden;
	margin-bottom: 30px;
	font-size: 86%;
	list-style: none;
}

.main_content .last_list {
	margin-bottom: 50px;
}

.main_content .html_list li {
	float: left;
	margin-bottom: 10px;
	width: 33%;
	line-height: 1.6em;
}

.main_content .html_list li a {
	color: #007edf;
}

.alphabet_list,
.group_list {
	display: none;
	overflow: hidden;
	margin-bottom: 50px;
}

.main_content .alphabet_list h2,
.main_content .group_list h2 {
	padding: 0;
	font-size: 200%;
	border-top: 0;
	border-bottom: 0;
}

.main_content .alphabet_list h2 span,
.main_content .group_list h2 span {
	padding-left: 0;
	padding-bottom: 10px;
}


/* Alphabet List */

.alphabet_list {
	margin-top: 50px;
}

.main_content .alphabet_list .ttl,
.main_content .group_list .ttl {
	margin-bottom: 20px;
	padding-left: 0;
	
	font-weight: normal;
	background: url("../img/bg_gray_border.png") left bottom repeat-x;
}

.main_content .alphabet_list .ttl span,
.main_content .group_list .ttl span {
	display: inline-block;
	padding-bottom: 10px;
	background: url("../img/sp/bg_border.png") left bottom no-repeat;
}

.alphabet_list dt {
	clear: both;
	float: left;
	width: 50px;
	color: #333;
	font-weight: bold;
	line-height: 1.3em;
}

.alphabet_list dd {
	float: right;
	margin-left: -60px;
	margin-bottom: 10px;
	width: 100%;
	line-height: 1.3em;
}

.alphabet_list dd a {
	margin-left: 60px;
	color: #007edf;
}


/* Group List */

.group_list dl {
	margin-top: 20px;
}

.group_list dt {
	border-top: 1px solid #b3d8fe;
}

.group_list dt:first-child {
	border-top: none;
}

.group_list dt a {
	display: block;
	padding: 10px 15px;
	color: #fff;
	background: #4996e5 url(../img/icon_plus.png) no-repeat;
	background-position: right 15px center;
}

.group_list dt a:hover {
	text-decoration: none;
	background-color: #77b1ec;
}

.group_list dd {
	display: none;
	padding: 15px 5% 5px;
	background: #fff;
}

.group_list dd ul {
	margin-bottom: 0;
	list-style: none;
}

.group_list dd ul li {
	padding-left: 0;
	margin-bottom: 10px;
	background: none;
}

.group_list dd ul li a {
	color: #007edf;
	font-size: 100%;
	line-height: 1.3em;
}



/* PHP
----------------------------------------*/

.main_content .content_php {
	margin-bottom: 40px;
	padding-top: 0;
}

.main_content #getting-started {
	margin-bottom: 60px;
}

.content_php h2 {
	background: #b178ff;
}

.main_content .content_php h3 {
	margin-top: 0;
}

.content_php section p {
	margin-bottom: 20px;
	font-size: 86%;
	line-height: 1.8em;
}

.content_php section ol,
.content_php section ul {
	margin-bottom: 40px;
	list-style-type: none;
}

.content_php section ol li,
.content_php section ul li {
	margin-left: 1.3em;
	margin-bottom: 5px;
	text-indent: -1.3em;
}

.content_php section ol li a,
.content_php section ul li a,
.content_php section ol li span,
.content_php section ul li span {
	padding-left: 20px;
	color: #007edf;
	font-size: 86%;
	line-height: 1.6em;
	background: url(../img/icon_list_circle.png) left center no-repeat;
}

.content_php section ol li span,
.content_php section ul li span {
	color: #aaa;
}



/* Tablet
----------------------------------------*/
@media only screen and (max-width: 980px) {

	.wrapper {
		margin: 50px 0;
	}

	.main_content article {
		overflow: hidden;
		padding: 30px 0;
		border-bottom: 1px solid #ccc;
	}
	
	.main_content article .text_excerpt{
		margin-bottom: 20px;
	}

	.paging {
		overflow: hidden;
		padding: 50px 0;
		width: 100%;
	}
	
	.paging .text_page {
		display: none;
	}

	.paging p.link_prev a:hover,
	.paging p.link_next a:hover {
		text-decoration: none;
	}
	
	.paging p.link_next {
		float: left;
	}

	.paging p.link_next a {
		float: left;
		display: inline-block;
		padding: 10px 15px 10px 30px;
		color: #fff;
		font-weight: normal;
		background: #666 url(../img/sp/icon_arrow_next.png) left center no-repeat;
		background-size: auto 12px;
	}
	
	.paging p.link_next span {
		display: inline-block;
		padding: 10px 15px 10px 30px;
		color: #fff;
		font-weight: normal;
		background: #ddd url(../img/sp/icon_arrow_next.png) left center no-repeat;
		background-size: auto 12px;
	}
	
	.paging p.link_prev {
		float: right;
	}

	.paging p.link_prev a {
		display: inline-block;
		padding: 10px 30px 10px 15px;
		color: #fff;
		font-weight: normal;
		background: #666 url(../img/sp/icon_arrow_prev.png) right center no-repeat;
		background-size: auto 12px;
	}
	
	.paging p.link_prev span {
		display: inline-block;
		padding: 10px 30px 10px 15px;
		color: #fff;
		font-weight: normal;
		background: #ddd url(../img/sp/icon_arrow_prev.png) right center no-repeat;
		background-size: auto 12px;
	}

	.main_content .popular_list {
		display: block;
	}


	/* Bottom Menu List
	----------------------------------------*/
	.alphabet_list,
	.group_list {
		display: block;
	}
}


/* Mini Tablet
----------------------------------------*/
@media only screen and (max-width: 649px) {
	
	.ad_type03 {
		margin: 0 auto;
		width: 300px;
	}

	.ad_type03 .ad_right {
		display: none;
	}

	.main_content .html_list li {
		width: 50%;
	}

	.archive_header {
		padding: 30px 0 25px;
	}

	.archive_header h1 {
		margin: 0 auto 10px;
		width: 70%;
	}

	.archive_header h1 img {
		width: 100%;
		max-width: 536px;
		height: auto;
	}

	.archive_header p {
		padding: 0 20px;
		font-size: 79%;
	}

	.main_content .sns_area {
		text-align: right;
	}
	
	.main_content .sns_area li {
		margin-left: 0;
		margin-right: 5px;
	}
	
	.main_content .sns_area li:last-child {
		margin-right: 0;
	}
}


/* Smartphone
----------------------------------------*/
@media only screen and (max-width: 414px) {

	.content_php section ol li,
	.content_php section ul li {
		margin-bottom: 10px;
	}

	.archive_header {
		padding: 20px 0 15px;
	}

	.main_content article .text_excerpt {
		display: none;
	}

	.main_content article h3 {
		margin-top: -5px;
		margin-bottom: 20px;
	}

	.main_content article h3 a {
		font-size: 115%;
		line-height: 1.6em;
	}

	.paging p.link_next {
		width: 50%;
		text-align: left;
	}

	.paging p.link_prev {
		width: 50%;
		text-align: right;
	}

	.paging p.link_next a,
	.paging p.link_next span {
		margin-right: 0;
	}

	.paging p.link_prev a,
	.paging p.link_prev span {
		margin-left: 0;
	}

}
