<div class="single-wrapper">
	<header>
		<p id="logo"><%= image_tag 'common/logo.svg', alt:'Yellow' %></p>
	</header>
	<main class="register-content">
		<h1 class="title-register-complete">アカウント登録</h1>
		<hr>
		<p class="text-register-complete">本登録が完了しました。</p>
		<hr>
		<div class="btn-area"><a class="btn-white" href="/login">ログイン</a></div>
	</main>
</div>
