<aside class="side-content">
	<section>
		<h2>ヘルプ</h2>
		<ul>
			<li><a href="/document/basic-usage/">基本的な活用方法</a></li>
			<li><a href="/document/edit-item/">仕訳項目の編集</a></li>
			<li><a href="/document/book/">仕訳帳について</a></li>
			<li><a href="/document/ledger/">総勘定元帳 (元帳)について</a></li>
			<li><a href="/document/bs/">残高試算表 (試算表)について</a></li>
		</ul>
	</section>
<!--
	<section>
		<h2>新着情報</h2>
		<ul class="news-list">
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
			<li><time datetime="17-01-15 00:00">17.01.15</time><a href="#">更新情報</a></li>
		</ul>
		<div class="btn-area">
			<a class="btn-more" href="#">もっと見る</a>
		</div>
	</section>
-->
	<section class="side-ad-space">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- G-2 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:300px;height:600px"
		     data-ad-client="ca-pub-6292870682629488"
		     data-ad-slot="2551412858"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</section>
</aside>
